CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_notion_r281=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_notion_r291=n
CONFIG_FEED_3ginfo_lite=n
CONFIG_FEED_lite_watchdog=n
CONFIG_FEED_modemband=n
CONFIG_FEED_modemdefine=n
CONFIG_FEED_my_pkg=n
CONFIG_FEED_openwrt_packages=n
CONFIG_FEED_small=n
CONFIG_FEED_sms_tool_js=n
CONFIG_FEED_v2raya=n
CONFIG_FEED_xray=n
CONFIG_FEED_zapret=n
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_KALLSYMS=n
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_libustream-mbedtls=y
CONFIG_PACKAGE_libustream-openssl=n
CONFIG_PACKAGE_libustream-wolfssl=n
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-irqbalance=y
CONFIG_PACKAGE_luci-app-lite-watchdog=y
CONFIG_PACKAGE_luci-app-modemband=y
CONFIG_PACKAGE_luci-app-modemdefine=m
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-sms-tool-js=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_luci-proto-mbim=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_r2x1-basic=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_openvpn-mbedtls=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
CONFIG_PACKAGE_wpad-basic-openssl=n
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_tc-mod-bpf=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_CODE_FILENAMES=n
CONFIG_VERSION_FILENAMES=n
